body {
    font-family: 'Inter', sans-serif;
    border: 5px solid #50b6d2;
    border-radius: 10px;
    margin: 20px;
    background-color: #efefef;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    background-color: #21222A;
    padding: 1.25rem 1.5rem;
    border-radius: 5px 5px 0 0; /* cleaner */
}

.logo-img {
    width: 40px;
}

.react-title {
    font-size: 1.25rem;
    font-weight: 800;
    color: #61DAFB;
}

/* Main */
.main {
    background-color: #282D35;
    padding: 2rem 1.75rem;
    border-radius: 0 0 5px 5px; /* cleaner */
}

.main h1 {
    color: whitesmoke;
    margin: 0;
}

.ul-list li {
    color: whitesmoke;
    margin: 30px 0;
}
.ul-list > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}